@using Dispatcher.Entity.Entities
@model List<Lesson>

@{
    ViewBag.Title = "Fənnlər";

    ViewBag.BackUrlVisibility = true;
    ViewBag.BackUrl = Url.Action("Index", "Home");

    Layout = "~/Views/Shared/_Table.cshtml";
    ViewBag.AddUrl = Url.Action("Add", "Lesson");
}


@section THead{
    <th>Fənnin adı</th>
    <th>Fənnin məqsədi</th>
    <th>Fənni tədris edən müəllim(ə)lər</th>
}


@section TBody{
    @for (int i = 0; i < Model.Count; i++)
    {
        var m = Model[i];

        <tr>
            <td>@(i+1)</td>
            <td>@m.Name</td>
            <td>@m.Description</td>
            <td>@string.Join(", ", m.Teachers.Select(t => $"{t.Surname} {t.Name}"))</td>
            <td class="center">
                @*<a class="btn btn-success" href="@Url.Action("Info", "Lesson", new { id = m.Id })">
                    <i class="halflings-icon white zoom-in"></i>
                </a>*@
                <a class="btn btn-info" href="@Url.Action("Edit", "Lesson", new { id = m.Id })">
                    <i class="halflings-icon white edit"></i>
                </a>
                <form id="form_@m.Id" action="@Url.Action("Delete", "Lesson")" method="post" class="form-display">
                    <input name="id" value="@m.Id" type="number" class="hidden-input" />
                    <button class="btn btn-danger" type="button" onclick="ShowDialogConfirm('form_@m.Id')">
                        <i class="halflings-icon white trash"></i>
                    </button>
                </form>
                @*<a class="btn btn-danger" href="@Url.Action("Delete", "Lesson", new { id = m.Id })">
                    <i class="halflings-icon white trash"></i>
                </a>*@
            </td>
        </tr>
    }
}