@using Dispatcher.Entity.Entities
@model List<ExamRoomRegister>

@{
    ViewBag.Title = "İmtahan otaqları reyestri";

    ViewBag.BackUrlVisibility = true;
    ViewBag.BackUrl = Url.Action("Index", "Home");

    Layout = "~/Views/Shared/_Table.cshtml";
    ViewBag.AddUrl = Url.Action("Add", "ExamRoomRegister");
}



@section THead{
    <th>Qruplar və Fənnlər</th>
    <th>Nəzarətçi(lər)</th>
    <th>Dərs otağı</th>
    <th>İmtahan tarixi</th>
    <th>İmtahan saatı</th>
}

@section TBody{
    @for (int i = 0; i < Model.Count; i++)
    {
        var m = Model[i];

        <tr>
            <td>@(i + 1)</td>
            <td>@string.Join(", ", m.GroupLessonPairs.Select(gl => gl))</td>
            <td>@string.Join(", ", m.Supervisiors.Select(t => t))</td>
            <td>@m.Room.Name</td>
            <td>@m.ExamDate.Value.ToString("dd-MM-yyyy")</td>
            <td>@m.Hour.Name</td>
            <td class="center">
                <a class="btn btn-info" href="@Url.Action("Edit", "ExamRoomRegister", new { id = m.Id })">
                    <i class="halflings-icon white edit"></i>
                </a>
                <form id="form_@m.Id" action="@Url.Action("Delete", "ExamRoomRegister")" method="post" class="form-display">
                    <input name="id" value="@m.Id" type="number" class="hidden-input" />
                    <button class="btn btn-danger" type="button" onclick="ShowDialogConfirm('form_@m.Id')">
                        <i class="halflings-icon white trash"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
}